.container {
  height: 100% !important;
}
table {
  width: 100%;
  height: 100%;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px !important;
}
.gender {
  padding: 10px;
}
